{% extends "layout.html" %}

{% block body %}
    <h1>you have selected {{ message }} as your running shoe</h1>
    <br>
    <div id="text-wrap">
        <img src="{{url_for('static', filename='Vaporfly.webp')}}",width="300", height="400"/>
        <br>
        {% for item in data %}
        <div id="container">
            {{item[0]}}
        </div>
        {% endfor %}
    </div>
    <br>
    <a id="Home-button" href="{{url_for('index')}}">Back to home</a>
    <br>
    <a id="Price-button" href="{{url_for('price')}}">See pricing for shoes</a>
    
{% endblock %}